---
import BaseHead from "../components/BaseHead.astro";
import BaseBody from "../layouts/BaseBody.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { friendlyDate } from "../components/Formats";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en" class="min-h-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseBody>
    <Header title={SITE_TITLE} />
    <main>
      <div class="container mx-auto max-w-prose">
        <p class="my-6 text-center text-lg">
          This is my personal blog, notes on whatever I'm thinking about.
        </p>
        {
          posts.map((post) => (
            <div class="mb-3 flex flex-col justify-between">
              <div class="mb-1 flex flex-col">
                <h2 class="text-main-700 dark:text-main-500 text-2xl font-semibold">
                  <a
                    class="hover:text-main-500 dark:hover:text-main-400"
                    href={post.url}
                  >
                    {post.frontmatter.title}
                  </a>
                </h2>
                <span class="text-main-900 dark:text-main-600 text-sm">
                  {friendlyDate(post.frontmatter.pubDate)}
                </span>
              </div>
              <div class="max-w-prose">
                {post.frontmatter.description && (
                  <span>{post.frontmatter.description}</span>
                )}
              </div>
            </div>
          ))
        }
      </div>
    </main>
    <Footer />
  </BaseBody>
</html>
