---
import BaseHead from "../components/BaseHead.astro";
import BaseBody from "../layouts/BaseBody.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { friendlyDate } from "../components/Formats";
import ArticleLink from "../components/ArticleLink.astro";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en" class="min-h-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseBody>
    <Header title={SITE_TITLE} />
    <main>
      <div class="container mx-auto max-w-prose">
        <p class="my-6 text-center text-lg">
          This is my personal blog, notes on whatever I'm thinking about.
        </p>
        {
          posts.map((post) => (
            <>
              <ArticleLink
                title={post.frontmatter.title}
                url={post.url}
                pubDate={post.frontmatter.pubDate}
                description={post.frontmatter.description}
              />
            </>
          ))
        }
      </div>
    </main>
    <Footer />
  </BaseBody>
</html>
