---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { friendlyDate } from "../components/Formats";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Home</h1>
      <h2>Welcome</h2>
      <p>
        This is my website, which is in the process of being re-written
        (November 2022). Nothing is ready for viewing.
      </p>
      <h2>Recent Posts</h2>
      {
        posts.map((post) => (
          <>
            <h3>
              <a href={post.url}>{post.frontmatter.title}</a>
            </h3>
            <div>
              <span>{friendlyDate(post.frontmatter.pubDate)}</span>
              {post.frontmatter.description && (
                <span>{post.frontmatter.description}</span>
              )}
            </div>
          </>
        ))
      }
    </main>
    <Footer />
  </body>
</html>
