---
import BaseHead from "../components/BaseHead.astro";
import BaseBody from "../layouts/BaseBody.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import { friendlyDate } from "../components/Formats";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en" class="min-h-full">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <BaseBody>
    <Header title={SITE_TITLE} />
    <main>
      <h1
        class="text-center text-4xl font-bold text-main-600 dark:text-main-500"
      >
        Home
      </h1>
      <div class="prose mx-auto">
        <h2>Something</h2>
        <p>
          This is my website, which is in the process of being re-written
          (November 2022). Nothing is ready for viewing.
        </p>
        <h2>Recent Posts</h2>
        <ul>
          {
            posts.map((post) => (
              <li>
                <div class="flex flex-col">
                  <div>
                    <a href={post.url}>{post.frontmatter.title}</a>
                  </div>
                  <div>
                    <span>{friendlyDate(post.frontmatter.pubDate)}</span>
                    {post.frontmatter.description && (
                      <span>{post.frontmatter.description}</span>
                    )}
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
    </main>
    <Footer />
  </BaseBody>
</html>
