---
import BaseHead from "../components/BaseHead.astro";
import BaseBody from "./BaseBody.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { friendlyDate } from "../components/Formats";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <BaseBody>
    <Header />
    <main>
      <article>
        {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
        <h1 class="h1 my-3">
          {title}
        </h1>
        <div class="my-3 text-center">
          <span>
            {pubDate && <time>{friendlyDate(pubDate)}</time>}
            {
              updatedDate && (
                <span>
                  {" "}
                  Last updated on <time>{friendlyDate(updatedDate)}</time>
                </span>
              )
            }</span
          >
        </div>
        <div
          class="prose prose-stone mx-auto px-1 prose-code:before:hidden prose-code:after:hidden dark:prose-invert"
        >
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </BaseBody>
</html>
